/maqueta
/maqueta/*
/unete/*
googled825beed27505e9d.html
index_redirect.php

# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

